.phoneForm{
    margin-top: 52px;
    max-width: 285px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    text-align: center;
}


.title{
    font-size: 26px;
}

.phoneNumber{
    font-size: 32px;
    font-weight: 700;
}

.subtitle{
    font-size: 14px;
}
.error{
    color: #EA0000;
}
.validityError{
    text-transform: uppercase;
    color: #EA0000;
    font-weight: 700;

}
